In [2]:
import pandas as pd

In [3]:
df=pd.read_hdf('c:/e/data/qe/predictions_score_K100.h5')

In [4]:
df=df.sort_values(['date', 'position'])

In [5]:
df1=df.groupby(['date']).head(10)

In [7]:
df1.reset_index(drop=True)

            date  instrument     score  position
0     2010-01-19  600539.SHA  2.563965         1
1     2010-01-19  600731.SHA  2.473920         2
2     2010-01-19  002102.SZA  2.334024         3
3     2010-01-19  000524.SZA  2.287163         4
4     2010-01-19  600784.SHA  2.287163         5
...          ...         ...       ...       ...
25335 2020-06-23  300703.SZA  2.377465         2
25336 2020-06-23  601818.SHA  2.228958         3
25337 2020-06-23  601818.SHA  2.228958         3
25338 2020-06-23  601818.SHA  2.228958         3
25339 2020-06-23  002862.SZA  1.976853         4

[25340 rows x 4 columns]

In [ ]:
df1.reset_index(drop=True).to